/*
  TODO: Should be used Sass and something...
*/
header {
  width: auto;
  background: url('../images/background2.png') center / cover;
  background-repeat: no-repeat;
}

body {
  color: #757575;
}

link {
  color: #757575;
}

a {
  color: #757575;
  text-decoration: none;
}

footer {
  bottom: 0;
  width: 100%;
  height: 20px;
  position: fixed;
  background: white !important;
}

i {
  vertical-align: middle !important;
}

i.icon-small {
  font-size: 18px;
}

table {
  margin: auto !important;
  border: 0px !important;
}

th {
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 16px !important;
}

td {
  text-align: left !important;
  vertical-align: middle !important;
  border-color: #ECEFF1 !important;
  font-size: 14px !important;
}

.accent-color-blue {
  color: #2196F3;
}

.accent-color-red {
  color: #b71c1c;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  text-align: center !important;
  vertical-align: middle !important;
}

.alert.alert-info {
  color: #2196F3;
  background: #B3E5FC;
}

.alert.alert-success {
  color: #4CAF50;
  background: #C8E6C9;
}

.alert.alert-error {
  color: #b71c1c;
  background: #ef9a9a;
}

.centering {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.footer-link {
  text-align: center !important;
  margin-right: auto;
  margin-left : auto;
}

.header-bottom-nav{
  width: 100%;
  padding-top: 8px;
  text-align: center;
  background: #F5F5F5;
}

.header-messages {
  margin-bottom: 80px;
  padding-left: 30%;
  color: #BDBDBD;
}

.home-button {
  margin-left: 20px;
  margin-right: 20px;
}

.home-card {
  margin: 20px;
  width: 160px;
  height: 160px;
}

.home-content {
  padding-top: 20px;
  text-align: center;
}


.mdl-layout__header,
.mdl-layout__drawer-button {
  color: white;
}

.mdl-menu__item {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-30 {
  width: 30%;
}

.padding-40 {
  width: 40%;
}

.padding-50 {
  width: 50%;
}

.padding-60 {
  width: 60%;
}

.padding-70 {
  width: 70%;
}

.padding-80 {
  width: 80%;
}

.signin-form {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.search-form-dropdown {
  width: 120px;
  margin-right: 20px;
}

.table-row {
  display: table-row;
}

.title {
  color: white !important;
}

.vertical-middle {
  vertical-align: middle !important;
}


