*.class
*.log
*.g8
*.gz
*.tar

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# EhCache
.ehcache

# Scala-IDE specific
.scala_dependencies
.classpath
.project
.cache
.settings

# IntelliJ specific
.idea/
.idea_modules/

# Ensime
.ensime
.ensime_cache/

.history

# VS Code
.vscode

# Front end
frontend/node_modules/*
frontend/dist/*

# Others
RUNNING_PID
