header {
  background: url('../images/background.jpg') center / cover;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  background: white !important;
}

.footer-link {
  text-align: center !important;
  margin-right: auto;
  margin-left : auto;
}

.mdl-layout__header,
.mdl-layout__drawer-button {
  color: white;
}

.title {
  color: white !important;
}

.signin-form {
  text-align: center;
}

.centering {
  width: 100%;
  text-align: center;
}