@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@()(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main(messages("about.title")) {
<div class="flex-center-vertical-items">
  <h5>@messages("about.title")</h5>
  @messages("about.description")
  </br></br>
  @messages("about.copyright")
  </br>
  <hr>
  <h5>@messages("about.components")</h5>
  </br>
  <table class="mdl-data-table mdl-js-data-table mdl-data-table__header--sorted-descending mdl-shadow--1dp">
    <tbody>
      <tr>
        <td><a href="https://www.playframework.com/" target="_blank" rel="noopener"><i class="material-icons accent-color-blue">info</i>&nbsp;Play Framework</a></td>
        <td>Web Application Framework.</td>
        <td>Apache License 2.0</td>
      </tr>
      <tr>
        <td><a href="https://www.silhouette.rocks/" target="_blank" rel="noopener"><i class="material-icons accent-color-blue">info</i>&nbsp;Silhouette</a></td>
        <td>Authentication library for Play Framework.</td>
        <td>Apache License 2.0</td>
      </tr>
      <tr>
        <td><a href="https://www.ldap.com/unboundid-ldap-sdk-for-java" target="_blank" rel="noopener"><i class="material-icons accent-color-blue">info</i>&nbsp;UnboundID LDAP SDK for Java</a></td>
        <td>Communicating with LDAP directory servers.</td>
        <td>LGPL v2.1</td>
      </tr>
      <tr>
        <td><a href="https://getmdl.io/" target="_blank" rel="noopener"><i class="material-icons accent-color-blue">info</i>&nbsp;material-design-lite</a></td>
        <td>Material Design Components in HTML/CSS/JS</td>
        <td>Apache License 2.0</td>
      </tr>
    </tbody>
  </table>
</div>
}
