@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@()(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main(messages("help.title")) {
<div class="centering">
  <h4>@messages("help.title")</h4>
  <hr>
  <h5>@messages("help.issue")</h5>
  <a href="https://github.com/YoshinoriN/Credentiam/issues/" target="_blank" rel="noopener">Please see issue tracker on GitHub.</a>
  <h5>@messages("help.document")</h5>
  <p>Coming soon...</p>
</div>
}
