@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@()(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main(messages("help.title")) {
<div class="flex-center">
  <h4 class="home-message">@messages("help.title")</h4>
</div>
<div class="flex-center">
  <br>
  <h4>
    <a href="https://github.com/YoshinoriN/Credentiam/issues/" target="_blank" rel="noopener" class="mdl-button mdl-js-button mdl-button--primary">
      <i class="mdl-color-text material-icons" role="presentation">info</i>&nbsp;@messages("help.issue")
    </a>
  </h4>
  <h4>
    <a class="mdl-button mdl-js-button mdl-button--primary" disabled>
      <i class="mdl-color-text material-icons" role="presentation">library_books</i>&nbsp;@messages("help.document")
    </a>
  </h4>
</div>
}
