@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html
@import controllers.AssetsFinder

@(title: String, user: Option[app.models.UserIdentify] = None)(content: Html)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="@assets.path("images/favicon.png")">
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@assets.path("vendors/material-design-lite/css/material.min.css")">
    <link rel="stylesheet" media="screen" href="@assets.path("vendors/material-design-lite/css/material-icon.css")">
    <link rel="stylesheet" href="@assets.path("common/css/main.css")">
    <script src="@assets.path("vendors/material-design-lite/js/material.min.js")" type="text/javascript"></script>
  </head>
    <body>
      <div class="mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--transparent">
          <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            @user.map { u =>
              <button id="top-right-menu" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
              </button>
              <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="top-right-menu">
                <li class="mdl-menu__item mdl-js-ripple-effect">
                  <i class="material-icons icon-small">card_membership</i><a href="@app.controllers.routes.ApplicationController.profile">&nbsp;&nbsp;@messages("profile")</a>
                </li>
                @if(u.isAdmin) {
                  <li class="mdl-menu__item mdl-js-ripple-effect">
                    <i class="material-icons icon-small">settings</i><a href="@app.controllers.routes.AdminAreaController.index">&nbsp;&nbsp;@messages("admin.area")</a>
                  </li>
                }
                <hr>
                <li class="mdl-menu__item mdl-js-ripple-effect">
                  <i class="material-icons icon-small">power_settings_new</i><a href="@app.controllers.routes.AuthController.signOut">&nbsp;&nbsp;@messages("sign.out")</a>
                </li>
              </ul>
            }
          </div>
          @if(request.uri == "/" || request.uri == "/signIn") {
            <div class="padding-40 header-messages">
              <h4>@messages("application.name")</h4>
              @messages("application.description")
            </div>
          }
        </header>
          @user.map { u =>
            <div class="mdl-layout__drawer">
              <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="@app.controllers.routes.ApplicationController.index">
                  <i class="mdl-color-text material-icons" role="presentation">home</i>&nbsp;&nbsp;@messages("common.home")
                </a>
                <a class="mdl-navigation__link" href="@app.controllers.routes.LDAPController.domains">
                  <i class="mdl-color-text material-icons" role="presentation">domain</i>&nbsp;&nbsp;@messages("common.domains")
                </a>
                <a class="mdl-navigation__link" href="@app.controllers.routes.LDAPController.organizations">
                  <i class="mdl-color-text material-icons" role="presentation">layers</i>&nbsp;&nbsp;@messages("common.organizations")
                </a>
              </nav>
            </div>
          }
        <main>
          @headerBottomNav(user)
          @request.flash.get("error").map { msg =>
            <div>@alert.error(msg)</div>
          }
          @request.flash.get("info").map { msg =>
            <div>@alert.info(msg)</div>
          }
          @request.flash.get("success").map { msg =>
            <div>@alert.success(msg)</div>
          }
          @content
        </main>
      </div>
      <footer class="mdl-mini-footer">
        <div class="footer-link">
        <ul class="mdl-mini-footer__link-list">
          <li>
            <a href="@app.controllers.routes.ApplicationController.about">About</a>
          </li>
          <li>
            <a href="https://github.com/YoshinoriN/Credentiam" target="_blank">GitHub</a>
          </li>
        </ul>
        </div>
      </footer>
    </body>
</html>
