@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import helper._
@import app.utils.types.LDAPObjectType

@(user: app.models.UserIdentify,
  searchForm: Form[app.controllers.LDAPController.SearchFormData],
  ldapAttributes: Option[Seq[app.models.ldap.LDAPObjectOverview]],
  searchedObjectType: app.utils.types.LDAPObjectType
  )(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)
@implicitField = @{ FieldConstructor(plainFieldConstructor.f) }
@main(messages("common.search"), Some(user)) {

<div class="flex-center">
  <h5>@messages("common.search")</h5>
</div>

<div class="flex-center">
  <fieldset>
    @form(CSRF(app.controllers.routes.LDAPController.search)) {
      <div class="mdl-textfield mdl-js-textfield search-form-dropdown" >
        <!-- TODO: i18n and use custom type -->
        @select(
          searchForm("objectType"),
          options = Seq("Organization"->"Organization", "User"->"User", "Computer"->"Computer"),
          'class -> "mdl-textfield__input"
        )
      </div>
      <div class="mdl-textfield mdl-js-textfield search-form-dropdown" >
        <!-- TODO: i18n and use custom type -->
        @select(
          searchForm("relation"),
          options = Seq("Contains"->"Contains", "Excludes"->"Excludes", "Startswith"->"Startswith", "Endswith"->"Endswith", "Equal"->"Equal", "Notequal"->"Notequal"),
          'class -> "mdl-textfield__input"
        )
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        @inputText(
        searchForm("word"),
          'class -> "mdl-textfield__input"
        )
        <label class="mdl-textfield__label">Search in LDAP...</label>
      </div>
      <button class="mdl-button mdl-js-button mdl-button--primary">
        <i class="material-icons">search</i>
      </button>
    }
  </fieldset>
</div>
  @ldapAttributes match {
    case None => {
      <!-- do nothing -->
    }
    case Some(ldapAttributes) => {
    <hr>
    <div class="flex-center">
      <h5>@messages("common.result")</h5>
    </div>
    <div class="flex-center">
      <table class="mdl-data-table mdl-js-data-table mdl-data-table__header--sorted-descending mdl-shadow--1dp">
        <thead>
        <tr>
          <th><h6>@messages("ldap.attribute.name")</h6></th>
          <th><h6>@messages("ldap.attribute.description")</h6></th>
          <th><h6>@messages("ldap.attribute.distinguishedName")</h6></th>
        </tr>
        </thead>
        @searchedObjectType match {
          case LDAPObjectType.ORGANIZATION => {
            @for(attr <- ldapAttributes) {
              <tr>
                <td>
                  <a href="@app.controllers.routes.LDAPController.organization(attr.distinguishedName.value)">
                    <i class="mdl-color-text material-icons icon-small" role="presentation">layers</i>&nbsp;&nbsp;@attr.name.value
                  </a>
                </td>
                <td>@attr.description.value</td>
                <td>@attr.distinguishedName.value</td>
              </tr>
            }
          }
          case LDAPObjectType.USER => {
            @for(attr <- ldapAttributes) {
              <tr>
                <td>
                  <a href="@app.controllers.routes.LDAPController.user(attr.distinguishedName.value)">
                    <i class="mdl-color-text material-icons icon-small" role="presentation">account_circle</i>&nbsp;&nbsp;@attr.name.value
                  </a>
                </td>
                <td>@attr.description.value</td>
                <td>@attr.distinguishedName.value</td>
              </tr>
            }
          }
          case LDAPObjectType.COMPUTER => {
            @for(attr <- ldapAttributes) {
              <tr>
                <td>
                  <a href="@app.controllers.routes.LDAPController.computer(attr.distinguishedName.value)">
                    <i class="mdl-color-text material-icons icon-small" role="presentation">desktop_windows</i>&nbsp;&nbsp;@attr.name.value
                  </a>
                </td>
                <td>@attr.description.value</td>
                <td>@attr.distinguishedName.value</td>
              </tr>
            }
          }
          case _ => {
            <!-- do nothing -->
          }
        }
        </tbody>
      </table>
    </div>
    }
  }
}
