@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import helper._
@import modules.BootStrapModule

@(signInForm: Form[app.controllers.AuthController.SignInFormData])(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)
@implicitField = @{ FieldConstructor(plainFieldConstructor.f) }
@main(messages("sign.in.title")) {
</br>

<div class="centering padding-50">
  @if(modules.BootStrapModule.instance.established) {
    <fieldset>
        <legend>
          <h5>@messages("sign.in.credentials")</h5>
        </legend>
        </br></br>
        @form(CSRF(app.controllers.routes.AuthController.signIn)) {
          <div class="mdl-textfield mdl-js-textfield">
            @inputText(
              signInForm("uid"),
              'class -> "mdl-textfield__input"
            )
            <label class="mdl-textfield__label">UserName</label>
          </div>
          <br/>
          <div class="mdl-textfield mdl-js-textfield">
            @inputPassword(
              signInForm("password"),
              'class -> "mdl-textfield__input"
            )
            <label class="mdl-textfield__label">Password</label>
          </div>
          <br/><br/>
          <button class="mdl-button mdl-js-button mdl-button--primary">
            <i class="material-icons icon-small">power_settings_new</i>&nbsp;@messages("sign.in")
          </button>
        }
    </fieldset>
  } else {
    @messages("ldapConnectionFaild")
  }
</div>
}
