@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder

@(title: String, user: app.models.UserIdentify, ldapAttributes: Option[app.models.ldap.ActiveDirectoryUser])(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main(messages(title), Some(user)) {
  @ldapAttributes match {
    case None => {
      <div class="flex-center vertical-middle">
        <h5>@messages("notfound")</h5>
      </div>
    }
    case Some(ldapAttributes) => {
      <div class="flex-center vertical-middle">
        <h5><i class="mdl-color-text material-icons" role="presentation">card_membership</i>&nbsp;&nbsp;@ldapAttributes.name.value</h5>
      </div>
      <table class="mdl-data-table mdl-js-data-table mdl-data-table__header--sorted-descending mdl-shadow--1dp padding-40">
        <thead>
          <tr>
            <th><h6>@messages("property")</h6></th>
            <th><h6>@messages("value")</h6></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>@messages(ldapAttributes.cn.name)</td>
            <td>@ldapAttributes.cn.value</td>
          </tr>
          <tr>
            <td>@messages(ldapAttributes.company.name)</td>
            <td>@ldapAttributes.company.value</td>
          </tr>
          <tr>
            <td>@messages(ldapAttributes.department.name)</td>
            <td>@ldapAttributes.department.value</td>
          </tr>
          <tr>
            <td>@messages(ldapAttributes.description.name)</td>
            <td>@ldapAttributes.description.value</td>
          </tr>
          <tr>
            <td>@messages(ldapAttributes.displayName.name)</td>
            <td>@ldapAttributes.displayName.value</td>
          </tr>
          <tr>
            <td>@messages(ldapAttributes.distinguishedName.name)</td>
            <td>@ldapAttributes.distinguishedName.value</td>
          </tr>
          <tr>
            <td>@messages(ldapAttributes.sAMAccountName.name)</td>
            <td>@ldapAttributes.sAMAccountName.value</td>
          </tr>
          <tr>
            <td>@messages(ldapAttributes.sn.name)</td>
            <td>@ldapAttributes.sn.value</td>
          </tr>
          <tr>
            <td>@messages(ldapAttributes.userPrincipalName.name)</td>
            <td>@ldapAttributes.userPrincipalName.value</td>
          </tr>
        </tbody>
      </table>
    }
  }
}
