@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@()(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main(messages("about.title")) {
<div class="centering">
  <h5>@messages("about.title")</h5>
  @messages("about.description")
  </br>
  @messages("about.copyright")
  </br>
  <hr>
  <h5>@messages("about.components")</h5>
  <ul class="mdl-list">
    <li class="mdl-list__item">
      <a class="centering used-component" href="https://www.playframework.com/">Play Framework</a>
    </li>
    <li class="mdl-list__item">
      <a class="centering used-component" href="https://www.silhouette.rocks/">Silhouette</a>
    </li>
    <li class="mdl-list__item">
      <a class="centering used-component" href="https://www.ldap.com/">UnboundID LDAP SDK for Java</a>
    </li>
    <li class="mdl-list__item">
      <a class="centering used-component" href="https://getmdl.io/">material-design-lite</a>
    </li>
  </ul>
</div>
}
