@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder

@(user: app.models.UserIdentify)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main(messages("home.title"), Some(user)) {
<div class="home-content">
  <h4>Welcom</h4>
  <div class="mdl-grid">
    <div class="mdl-grid">
      <h4>
        <a href="@app.controllers.routes.ApplicationController.index" class="mdl-button mdl-js-button mdl-button--primary home-button">
          <i class="mdl-color-text material-icons" role="presentation">home</i>
          @messages("view.common.home")
        </a>
      </h4>
      <h4>
        <a href="@app.controllers.routes.LDAPController.organizations" class="mdl-button mdl-js-button mdl-button--primary home-button">
          <i class="mdl-color-text material-icons" role="presentation">account_balance</i>
          @messages("view.common.organizations")
        </a>
      </h4>
    </div>
  </div>
</div>
}
