@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html
@import controllers.AssetsFinder

@(title: String, user: Option[app.models.UserIdentify] = None)(content: Html)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="@assets.path("images/favicon.png")">
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@assets.path("vendors/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@assets.path("vendors/material-design-lite/css/material.min.css")">
    <link rel="stylesheet" media="screen" href="@assets.path("vendors/material-design-lite/css/material-icon.css")">
    <link rel="stylesheet" href="@assets.path("common/css/main.css")">
    <script src="@assets.path("vendors/material-design-lite/js/material.min.js")" type="text/javascript"></script>
  </head>
    <body>
      <div class="mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--transparent">
          <div class="mdl-layout__header-row">
            <a class="title mdl-layout-title" href="@app.controllers.routes.ApplicationController.index">Credentiam</a>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            @user.map { u =>
              <button id="top-right-menu" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
              </button>
              <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="top-right-menu">
                <li class="mdl-menu__item mdl-js-ripple-effect"><a href="@app.controllers.routes.AuthController.signOut">@messages("sign.out")</a></li>
              </ul>
            }
          </div>
        </header>
          @user.map { u =>
            <div class="mdl-layout__drawer">
              <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="@app.controllers.routes.ApplicationController.index">
                  <i class="mdl-color-text material-icons" role="presentation">home</i>
                  Home
                </a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
              </nav>
            </div>
          }
        <main>
          <div>
            <div class="mdl-grid">
              <div class="mdl-grid">
                @request.flash.get("error").map { msg =>
                    <div class="col-md-6 col-md-offset-3 alert alert-danger">
                      <strong>@messages("error")</strong> @msg
                    </div>
                  }
                  @request.flash.get("info").map { msg =>
                    <div class="col-md-6 col-md-offset-3 alert alert-info">
                      <strong>@messages("info")</strong> @msg
                    </div>
                  }
                  @request.flash.get("success").map { msg =>
                    <div class="col-md-6 col-md-offset-3 alert alert-success">
                      <strong>@messages("success")</strong> @msg
                  </div>
                  }
              </div>
            </div>
            </div>
            <div class="mdl-grid">
              @content
            </div>
          </div>

        </main>
      </div>
      @user.map { u =>
        <!-- Nothig -->
      }.getOrElse {
        <footer class="mdl-mini-footer">
          <div class="footer-link">
          <ul class="mdl-mini-footer__link-list">
            <li>
              <a href="">About</a>
            </li>
            <li>
              <a href="https://github.com/YoshinoriN/Credentiam" target="_blank">GitHub</a>
            </li>
          </ul>
          </div>
        </footer>
      }
    </body>
</html>
