@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder

@(title: String, user: app.models.UserIdentify, ldapAttributes: Option[List[app.models.OrganizationUnit]])(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main(messages(title), Some(user)) {
  @ldapAttributes match {
    case None => { @messages("notfound") }
    case Some(ldapAttributes) => {
      <table class="mdl-data-table mdl-js-data-table mdl-data-table__header--sorted-descending mdl-shadow--1dp padding-40">
        <thead>
          <tr>
            <th><h6>@messages("ldap.attribute.name")</h6></th>
            <th><h6>@messages("ldap.attribute.ou")</h6></th>
            <th><h6>@messages("ldap.attribute.distinguishedName")</h6></th>
          </tr>
        </thead>
        <tbody>
          @for(ou <- ldapAttributes) {
            <tr>
              <td>@ou.name.value</td>
              <td>@ou.ou.value</td>
              <td>@ou.distinguishedName.value</td>
            </tr>
          }
        </tbody>
      </table>
    }
  }
}