@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder

@(title: String, user: app.models.UserIdentify, ldapAttributes: Option[Seq[app.models.OrganizationUnit]])(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main(messages(title), Some(user)) {
  <div class="centering vertical-middle">
    <h5>@messages("menu.organization")</h5>
  </div>
  @ldapAttributes match {
    case None => { @messages("notfound") }
    case Some(ldapAttributes) => {
      <table class="mdl-data-table mdl-js-data-table mdl-data-table__header--sorted-descending mdl-shadow--1dp padding-40">
        <thead>
          <tr>
            <th><h6>@messages("ldap.attribute.name")</h6></th>
            <th><h6>@messages("ldap.attribute.description")</h6></th>
            <th><h6>@messages("ldap.attribute.distinguishedName")</h6></th>
          </tr>
        </thead>
          @for(ou <- ldapAttributes) {
            <tr>
              <td>
                <a href="@app.controllers.routes.LDAPController.organization(ou.distinguishedName.value)">
                  <i class="mdl-color-text material-icons icon-small" role="presentation">account_balance</i>   @ou.name.value
                </a>
              </td>
              <td>@ou.description.value</td>
              <td>@ou.distinguishedName.value</td>
            </tr>
          }
        </tbody>
      </table>
    }
  }
}