@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import helper._

@(signInForm: Form[app.controllers.AuthController.SignInFormData])(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)
@implicitField = @{ FieldConstructor(plainFieldConstructor.f) }
@main(messages("sign.in.title")) {
<div class="centering padding-50">
  <fieldset>
    <legend>
      <h5>@messages("sign.in.credentials")</h5>
    </legend>
      </br></br>
      @form(CSRF(app.controllers.routes.AuthController.signIn)) {
        <div class="mdc-textfield">
          @inputText(
            signInForm("uid"),
            'class -> "mdc-textfield__input",
            'placeholder -> "UserName"
          )
        </div>
        <br/>
        <label class="mdc-textfield">
          @inputPassword(
            signInForm("password"),
            'class -> "mdc-textfield__input",
            'placeholder -> "Password"
          )
        </label>
        <br/><br/>
        <button class="mdc-button">
          @messages("sign.in")
        </button>
      }
  </fieldset>
</div>
}
